 /*Контрол с общими действиями */
.Controls{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.controls {
    padding-right: 20px;
    font-family: Arial;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}
.card {
    padding-left: 10px;
    padding-right: 15px;
    font-weight: bold;

}
button {
    height: 21px;
    width: 80px;
}